.pageWrapper {
	padding: 40px;
	max-width: 600px;
	margin: 0 auto;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.pageWrapper h1 {
	text-align: center;
	color: #C3C4C6;
	margin-bottom: 30px;
	font-size: 28px;
	font-weight: bold;
}

form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

form div {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

input,
textarea {
  padding: 10px 15px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 14px;
  color: #161D2F;
  background-color: #C3C4C6;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus,
textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
  outline: none;
}

label {
	font-size: 16px;
	color: #C3C4C6;
	font-weight: 600;
}

.submitBtn {
	padding: 12px;
	background-color: #FC4747;
	color: #161D2F;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.2s ease;
}

.submitBtn:hover {
	background-color: #FC4747;
	transform: scale(1.03);
}

.submitBtn:active {
	background-color: #FC4747;
}

.containerCheckbox {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.checkbox {
	appearance: none;
	margin-top: 7px;
	width: 30px;
	height: 30px;
	border: 2px solid #C3C4C6;
	border-radius: 5px;
	background-color: #fff;
	position: relative;
	cursor: pointer;
	transition: all 0.3s ease;
  }
  
  .checkbox:checked {
	background-color: #FC4747;
	border-color: #FC4747;
  }
  
  .checkbox::after {
	content: '';
	position: absolute;
	top: 4px;
	left: 8px;
	width: 10px;
	height: 15px;
	border-left: 3px solid #fff;
	border-bottom: 3px solid #fff;
	transform: rotate(-45deg);
	opacity: 0;
	transition: opacity 0.3s ease;
  }
  
  .checkbox:checked::after {
	opacity: 1;
  }

@media (max-width: 768px) {
	.pageWrapper {
		padding: 20px;
	}

	form {
		gap: 15px;
	}

	.submitBtn {
		font-size: 14px;
	}
}