.movieItem {
	width: 350px;
	margin-bottom: 20px;
	padding: 20px;
	color: #C3C4C6;
	border-radius: 8px;
	background-color: #475473;
	outline: none;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.3s ease;
}

.movieItem:hover {
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.movieItem h3 {
	font-size: 1.6rem;
	font-weight: 600;
	margin: 0;
}

.movieItem p {
	margin: 8px 0;
	color: #B0B3B8;
}

.movieItem img {
	width: 100%;
	height: 500px;
	object-fit: cover;
	margin-top: 12px;
	border-radius: 8px;
	transition: transform 0.3s ease;
}

.movieItem img:hover {
	transform: scale(1.05);
}

.header {
	display: flex;
	justify-content: space-between;
	font-size: 24px;
	align-items: center;
}

.header button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: transform 0.2s ease, color 0.2s ease;
}

.buttons {
	font-size: 18px;
}

.favoriteButton,
.editButton,
.deleteButton {
	color: #fff;
}

.favoriteButton:hover,
.editButton:hover,
.deleteButton:hover {
	transform: scale(1.1);
	color: #FFD700;
}

.deleteButton {
	color: #FF6347;
}

.deleteButton:hover {
	color: #FF4500;
}

.span {
	font-weight: bold;
}

.image {
	border-radius: 8px;
}

@media (max-width: 1024px) {
	.movieItem {
		width: 300px;
	}
}

@media (max-width: 768px) {
	.movieItem {
		width: 250px;
	}
}

@media (max-width: 480px) {
	.movieItem {
		width: 100%;
	}

	.movieItem img {
		height: 200px;
		object-fit: cover;
	}
}