@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import "reset.scss";

body {
	font-family: 'Lora', sans-serif;
	color: #C3C4C6;
	background-color: #161D2F;
	margin: 50px;
}