*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Arial', sans-serif;
	line-height: 1.5;
	background-color: #fff;
	color: #333;
}

ul,
ol {
	list-style: none;
	list-style-type: none;
}

li::marker {
	content: none;
}

a {
	text-decoration: none;
	color: inherit;
}

table {
	border-collapse: collapse;
	width: 100%;
}

input,
button,
textarea,
select {
	outline: none;
	border: none;
	font: inherit;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
	display: block;
}

video,
audio {
	display: block;
	max-width: 100%;
}

textarea {
	resize: vertical;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

form {
	margin: 0;
	padding: 0;
}

button {
	background-color: transparent;
	cursor: pointer;
}